<div class="row">

    <div class="bubble" id="top" style="text-align:center">
      </br>
      <h1> Photo </h1>
      <h1> Modo  </h1>
      </br>
    </div>

    <div class="bubble" id="bottom">

    </div>

</div>

