<div class="row">
  <div class="col-sm-2 sidebar text-center">

    <h6>Your logged in as:</h6>
    <h3><%=@user.name %></h3>

  </div>

  <div class="col-sm-8 text-center">

    <h6>Main Area</h6>
    <h3>Stuff</h3>

  </div>
</div>
